<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information page</title>
    <link rel="stylesheet" href="/info.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="nav-item no-underline" href="/user"><i class="fa-solid fa-house"></i>
                    ShopVie
                </a>
            </div>
        </nav>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="card" style="border: none;">
                        <div class="card-body">
                            <H3>Hồ sơ người dùng</H3>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="card-body media align-items-center">
                            <img src="https://www.w3schools.com/howto/img_avatar.png" class="d-block ui-w-80">
                            <div class="media-body ml-4">
                                <label class="btn btn-outline-info">
                                    Upload avatar
                                    <input type="file" class="account-settings-fileinput">
                                </label> &nbsp;
                            </div>
                        </div>
                        <hr class="border-light m-0">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Birthday</label>
                                <input class="date" type="date" id="dobInput" required>
                            </div>
                            <h6 class="mb-4" style="color: blue;">Contacts</h6>
                            <div class="form-group">
                                <label class="form-label">Phone</label>
                                <input type="text" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label class="form-label">E-mail</label>
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right mt-3">
            <button type="button" class="btn btn-outline-info">Save changes</button>&nbsp;
            <button type="button" class="btn btn-outline-danger">Cancel</button>
        </div>
    </div>

</body>

</html>