<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./register.css">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="wrapper">
                    <form action="/acc/signup" method="post">
                        <h1>Register</h1>
                        <div class="input-field">
                            <input name="username" type="text" placeholder="Username" required>
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="input-field">
                            <input name="password" type="password" placeholder="Password" required>
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <div class="input-field">
                            <input name="email" type="email" placeholder="Email" required>
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <input name="date" class="date" type="date" required>
                        <select name="sex" class="select">
                            <option value="Male" selected>Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>