* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  background-size: cover;
  background-position: center;
}

h3 {
  text-align: center;
  font-size: 28px;
  margin: 0;
  padding-top: 10px;
}

a {
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.content {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: .4s;
  background: white;
}

.content:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

img {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

p {
  text-align: center;
  color: black;
  padding-top: 0 8px;
}

h5 {
  font-size: 26px;
  text-align: center;
  color: black;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

li {
  padding-top: 5px;
}

i {
  font-size: 18px;
  transition: .4s;
  margin: 3px;
}

.checked {
  color: gold;
}

footer {
  background: transparent;
  color: blue;
}

.wrapper-footer {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: 50%;
}

h3 {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
}

.footer-content {
  width: auto;
  margin: auto;
  padding: 7px;
}

.bottom-bar {
  background-color: blue;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}

.bottom-bar p {
  color: white;
  margin: 0;
  font-size: 16px;
  padding: 7px
}

.custom-dropdown .dropdown-menu {
  font-size: 14px;
  padding: 5px;
  min-width: auto;
}

.custom-dropdown .dropdown-item {
  padding: 10px 10px;
}

.custom-dropdown .dropdown-menu {
  left: 60%;
  transform: translateX(-50%);
}

.dropdown-item :hover {
  color: blue;
}

.not-found {
  width: 75%;
  height: 200px;
  border-radius: 3px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found p {
  font-size: 40px;
  font-weight: bold;
  color: white;
}