* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.wrapper .register-account {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-account p a {
  text-decoration: none;
}

.register-account p a:hover {
  text-decoration: underline;
}

.input-control.error input {
  border-color: red;
}

.input-control .error {
  font-size: 1em;
  height: 1em;
  color: red;
}